---
// const platform = "wenhui的github";
// const username = "wenhui990";
import Social from './Social.astro';
---

<footer>
  <!--<p>了解更多关于我的项目 <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>-->
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
